<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Alternatively, use the DevExpress NuGet Feed: https://nuget.devexpress.com -->
    <add key="devextreme-controls-netcore" value="C:\Program Files\DevExpress 23.2\DevExtreme\System\DevExtreme\Bin\AspNetCore" />
    <add key="DevExpress" value="https://nuget.devexpress.com/pS9vVwmjyxFd8qhW2HBeAlBEWJAdUs4SGSey4mAYtj8xPVhvdS/api/v3/index.json" />
  </packageSources>
</configuration>